* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: NunitoBold;
    src: url("../fonts/Nunito-Bold.ttf");
}

body {
    font-family: NunitoBold, sans-serif;
    position: relative;
}

.container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 1100px;
}

body::before {
    z-index: -1;
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    bottom: 0;
    left: 50%;
    background-color: #afafb3;
}

.header {
    padding-top: 27px;
    padding-bottom: 112px;
}

.logo {
    width: 262px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    padding-bottom: 191px;
}

.registration-section {
    width: 496px;
    padding-left: 54px;
}

.main-title {
    font-size: 36px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 7px;
}

.main-info {
    max-width: 496px;
    font-size: 22px;
    line-height: 27px;
    color: #bf8282;
    margin-bottom: 69px;
}

.input-title {
    font-size: 16px;
    line-height: 27px;
    color: #efefe1;
}

.main-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.main-input {
    width: 452px;
    margin-bottom: 20px;
}

.input {
    border: none;
    border-bottom: 1px solid #C6C6C4;
    width: 100%;
    font-family: NunitoBold, sans-serif;
    font-size: 20px;
    line-height: 27px;
    color: #323232;
}

.input:focus {
    outline: none
}

.main-info-checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.checkbox-title {
    font-size: 16px;
    line-height: 27px;
    color: #636363;
    margin-left: 10px;
}

.main-info-button {
    margin: 0 auto;
    padding-bottom: 44px;
}

.button {
    padding: 23px 68px 23px 68px;
    border: none;
    border-radius: 40px;
    background-color: #DD3142;
    font-family: NunitoBold, sans-serif;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    cursor: pointer;
}

.have-account {
    margin: 0 auto;
}

.have-account-title {
    font-size: 16px;
    line-height: 27px;
    color: #636363;
}

.link {
    text-decoration: none;
    border: none;
    color: #636363;
}

.image-section {
    width: 50%;
}

.pop-up {
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    width: 600px;
    height: 400px;
    background-color: #FFFFFF;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.pop-up::before {
    z-index: -1;
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    bottom: 0;
    left: 50%;
    background-color: #F8F8FA;
    border-radius: 10px;
}

.pop-up-text {
    font-size: 30px;
    color: #000000;
    margin-bottom: 7px;
    line-height: 40px;
    text-align: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
    top: 0;
    left: 0;
    display: none;
}
